

.App {
  text-align: center;
  background-color: white;
}
body {
  padding: 15px;
  background-color:white;
  font: Belleza;
}

.main {
  background-color: white;
  color: black;
  height: 100%;
  min-height: 100%;
}
ul {
  list-style-type: none;
}



.mainDiv {
  margin: auto;
  width: 90%;
  padding: 5px;
}

nav {
  margin-top: 0.5em!important;
  text-align: center;
  background-color: #53565A;
  color: white;
}

nav a {
  color: white;
}

nav  p {
  margin-top: 0.8em!important;
}
.footer {
  background-color: #53565A;
  color: white;
  margin-top: 10px;
}

.footer  p {
  margin-top: 0.8em!important;
  margin-left: 1.5em;
}
